*.zip
/deep_neural_network/EuroSAT
/raster_data/assignment-2/cir-naip
/raster_data/assignment-2/data/naip-tiles
/raster_data/assignment-2/data/veg-tiles
/raster_data/data/naip-tiles
/u_net_building_extraction/data
/urban_flood_mapping/assignment-3-data/DEM_Tiles
/urban_flood_mapping/DEM_Tiles
/urban_flood_mapping/assignment-3-data/Inundation_Results
/raster_data/data/veg-tiles
/raster_data/cir-naip
/raster_data/raster_data/data/veg-tiles
/raster_data/raster_data/data/naip-tiles
/raster_data/raster_data/cir-naip
/u_net_object_detection/data/not_pikachu
/u_net_object_detection/data/pikachu
*.tif